@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
}

/* Hide scrollbars but keep scrolling */
* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
